@model IList<First.Storage.Entities.Company>


<html>
<h1>Companies</h1>
<div>

    <table class="table-bordered">
        <thead>
            <tr>
                <th>Company</th>
                <th>Country</th>
                <th>Continent</th>

            </tr>
        </thead>
        <tbody>

            @foreach (var company in Model)
            {
            <tr>
                <td>@company.Name</td>
                <td>@company.Country.Name</td>
                <td>@company.Country.Continent.Name</td>


            </tr>
            }
        </tbody>
    </table>
</div>
</html>
