@model IList<First.Storage.Entities.Continent>

<html>
<h1>Pages</h1>
<div><a href="~/Aibidia/Continents">Continents</a></div>
<div><a href="~/Aibidia/Countries">Countries</a></div>
<div><a href="~/Aibidia/Companies">Companies</a></div>
<div><a href="~/Aibidia/Rulings">Rulings</a></div>
</html>
