@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IList<First.Storage.Entities.Continent>

<html>
<h1>Continents</h1>
@foreach (var continent in Model)
{ 
    <div>@continent.Name</div>
}
</html>